@using Microsoft.AspNetCore.Identity
@using Utal.Icc.Sgm.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="header" class="app-header">
	<div class="mobile-toggler">
		<button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
			<span class="bar"></span>
			<span class="bar"></span>
		</button>
	</div>
	<div class="brand">
		<div class="desktop-toggler">
			<button type="button" class="menu-toggler" data-toggle="sidebar-minify">
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
		</div>
		<a href="/" class="brand-logo">
			<img src="~/img/logo.png" alt="" height="20" />
		</a>
	</div>
	<div class="menu">
		<form class="menu-search" method="POST" name="header_search_form">
			<div class="menu-search-icon"><i class="fa fa-search"></i></div>
			<div class="menu-search-input">
				<input type="text" class="form-control" placeholder="Search menu..." />
			</div>
		</form>
		<div class="menu-item dropdown">
			<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
				<div class="menu-icon"><i class="fa fa-bell nav-icon"></i></div>
				<div class="menu-label">3</div>
			</a>
			<div class="dropdown-menu dropdown-menu-end dropdown-notification">
				<h6 class="dropdown-header text-dark mb-1">Notifications</h6>
				<a href="#" class="dropdown-notification-item">
					<div class="dropdown-notification-icon">
						<i class="fa fa-receipt fa-lg fa-fw text-success"></i>
					</div>
					<div class="dropdown-notification-info">
						<div class="title">Your store has a new order for 2 items totaling $1,299.00</div>
						<div class="time">just now</div>
					</div>
					<div class="dropdown-notification-arrow">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<a href="#" class="dropdown-notification-item">
					<div class="dropdown-notification-icon">
						<i class="far fa-user-circle fa-lg fa-fw text-muted"></i>
					</div>
					<div class="dropdown-notification-info">
						<div class="title">3 new customer account is created</div>
						<div class="time">2 minutes ago</div>
					</div>
					<div class="dropdown-notification-arrow">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<a href="#" class="dropdown-notification-item">
					<div class="dropdown-notification-icon">
						<img src="~/img/icon/android.svg" alt="" width="26" />
					</div>
					<div class="dropdown-notification-info">
						<div class="title">Your android application has been approved</div>
						<div class="time">5 minutes ago</div>
					</div>
					<div class="dropdown-notification-arrow">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<a href="#" class="dropdown-notification-item">
					<div class="dropdown-notification-icon">
						<img src="~/img/icon/paypal.svg" alt="" width="26" />
					</div>
					<div class="dropdown-notification-info">
						<div class="title">Paypal payment method has been enabled for your store</div>
						<div class="time">10 minutes ago</div>
					</div>
					<div class="dropdown-notification-arrow">
						<i class="fa fa-chevron-right"></i>
					</div>
				</a>
				<div class="p-2 text-center mb-n1">
					<a href="#" class="text-gray-800 text-decoration-none">See all</a>
				</div>
			</div>
		</div>
		<div class="menu-item dropdown">
			<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
				@if (SignInManager.IsSignedIn(User)) {
					<div class="menu-img">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="menu-text">@User.Identity?.Name</div>
				} else {
					<div class="menu-img">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="menu-text">Ingresar</div>
				}
			</a>
			<div class="dropdown-menu dropdown-menu-end me-lg-3">
				@if (SignInManager.IsSignedIn(User)) {
					<a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index">Mi cuenta <i class="fa fa-user-circle fa-fw ms-auto text-gray-400 f-s-16"></i></a>
					<div class="dropdown-divider"></div>
					<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button type="submit" class="dropdown-item d-flex align-items-center">Cerrar sesión <i class="fa fa-toggle-off fa-fw ms-auto text-gray-400 f-s-16"></i></button>
					</form>
				} else {
					<a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Register">Registrarse <i class="fa fa-user-plus fa-fw ms-auto text-gray-400 f-s-16"></i></a>
					<a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión <i class="fa fa-arrow-right-to-bracket fa-fw ms-auto text-gray-400 f-s-16"></i></a>
				}
			</div>
		</div>
	</div>
</div>