@using Microsoft.AspNetCore.Identity
@using Utal.Icc.Sgm.Areas.Account.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="sidebar" class="app-sidebar">
	<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
		<div class="menu">
			@if (this.User.IsInRole("Administrator")) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-toolbox"></i></span>
						<span class="menu-text">Herramientas de administrador</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action("ManageUsers", "Administration", new { area = "Account" })" class="menu-link">
								<span class="menu-text">Gestionar usuarios</span>
							</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
</div>