@page
@model EnableAuthenticatorModel
@{
	ViewData["Title"] = "Configurar autenticador en dos pasos";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
	<p>Para utilizar un autenticador en dos pasos, sigue estos pasos:</p>
	<ol class="list">
		<li>
			<p>
				Descarga una aplicación autenticadora tal como Microsoft Authenticator para
				<a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> y
				<a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> o
				Google Authenticator para
				<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> y
				<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
			</p>
		</li>
		<li>
			<p>Escanea el QR o introduce esta llave <kbd>@Model.SharedKey</kbd> en tu aplicación de autenticador de dos pasos. Las mayúsculas y espacios no importan.</p>
			<div class="alert alert-info">Aprende cómo <a href="https://go.microsoft.com/fwlink/?Linkid=852423">habilitar la generación de códigos QR</a>.</div>
			<div id="qrCode"></div>
			<div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
		</li>
		<li>
			<p>
				Una vez que hayas escaneado el código QR o introducido la llave, tu aplicación de autenticador en dos pasos te proporcionará
				un código único. Introducelo en el campo de abajo.
			</p>
			<div class="row">
				<div class="col-md-6">
					<form id="send-code" method="post">
						<div class="form-floating mb-3">
							<input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Introduce tu código." />
							<label asp-for="Input.Code" class="control-label form-label">Código con fines de verificación</label>
							<span asp-validation-for="Input.Code" class="text-danger"></span>
						</div>
						<button type="submit" class="w-100 btn btn-lg btn-primary">Verificar</button>
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					</form>
				</div>
			</div>
		</li>
	</ol>
</div>