@page
@model GenerateRecoveryCodesModel
@{
	ViewData["Title"] = "Generar códigos de recuperación";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
	<p>
		<span class="glyphicon glyphicon-warning-sign"></span>
		<strong>Guarda estos códigos en un lugar seguro.</strong>
	</p>
	<p>
		Si pierdes tu dispositivo y no tienes los códigos de recuperación, perderás el acceso a tu cuenta.
	</p>
	<p>
		Al generar nuevos códigos de recuperación, las llaves utilizadas en aplicaciones autenticadoras no cambian.
		Si quieres cambiar la llave utilizada en tu aplicación, debes <a asp-page="./ResetAuthenticator">reestablecer tus llaves</a>.
	</p>
</div>
<div>
	<form method="post">
		<button class="btn btn-danger" type="submit">Generar códigos de recuperación</button>
	</form>
</div>