@page
@model PersonalDataModel
@{
	ViewData["Title"] = "Datos personales";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
	<div class="col-md-6">
		<p>Tu cuenta contiene datos personales. Esta página te permite descargarlos o eliminarlos.</p>
		<p>
			<strong>Si eliminas tus datos personales, tu cuenta será eliminada. Esta acción es irreversible.</strong>
		</p>
		<form id="download-data" asp-page="DownloadPersonalData" method="post">
			<button class="btn btn-primary" type="submit">Descargar datos personales</button>
		</form>
		<p>
			<a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Eliminar datos personales</a>
		</p>
	</div>
</div>