@page

@model ExternalLoginModel

@{
	ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Asocia tu cuenta de @Model.ProviderDisplayName.</h2>
<hr />

<p id="external-login-description" class="text-info">
	Te has autenticado con éxito con <strong>@Model.ProviderDisplayName</strong>.
	Por favor introduce un correo electrónico para la plataforma Web y haz click en el botón de Registrar
	para finalizar el inicio de sesión.
</p>

<div class="row">
	<div class="col-md-4">
		<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Por favor ingresa tu correo electrónico." />
				<label asp-for="Input.Email" class="form-label"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
		</form>
	</div>
</div>