@page

@model ForgotPasswordConfirmation

@{
	ViewData["Title"] = "Confirmación de olvido de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
	Por favor comprueba tu correo electrónico para reestablecer tu contraseña.
</p>