@page

@model ResetPasswordConfirmationModel

@{
	ViewData["Title"] = "Confirmación de reestablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>

<p>
	Tu contraseña se ha reestablecido. Por favor <a asp-page="./Login">haz click aquí para iniciar sesión</a>.
</p>