@{
	this.ViewData["Title"] = "Error de inicio de sesión";
}

<div class="text-center">
	<h1>Error de inicio de sesión</h1>
	<h3>El inicio de sesión no fue exitoso. Por favor, inténtalo de nuevo.</h3>
	@this.Html.ActionLink("Volver al inicio de sesión", "Index", "SignIn", new { area = "Account" }, new { @class = "btn btn-link" })
</div>