@using Utal.Icc.Sgm.Areas.Student.Views.Proposal

@model FilterPartialViewModel

@using (this.Html.BeginForm("Index", "Proposal", new { area = "Student" })) {
	<div class="form-group">
		@this.Html.LabelFor(m => m.SearchString, new { @class = "form-label mb-3" })
		@this.Html.TextBoxFor(m => m.SearchString, new { @class = "form-control mb-3" })
	</div>
	<button type="submit" class="btn btn-primary">Filtrar</button>
	@this.Html.ActionLink("Volver a la lista principal", "Index", "Proposal", new { area = "Student" }, new { @class = "btn btn-link" })
}